Microsoft.Flow/flows/1a87aa75-7b53-4310-b37b-e24b753266c1/definition.json
{"name":"aafab973-7727-4f9c-832c-9535f81fb2c7","id":"/providers/Microsoft.Flow/flows/aafab973-7727-4f9c-832c-9535f81fb2c7","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"ReembExpCSV","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"b17df865-0519-4a6b-97ae-ef0304569b6d","type":"User","tenantId":"57f91348-02a2-460b-ab45-b9c9e4fb7498"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-12-18T12:15:36.0896049Z","connectionKeySavedTimeKey":"2023-12-18T12:05:59.5643736Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"0872fdcf-0b12-4f70-bc5f-8efe079ef39c"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Criararquivo_ConteúdodoArquivo":{"type":"string","format":"binary","description":"O conteúdo do arquivo.","x-ms-powerflows-param-ispartial":false}},"required":["Criararquivo_ConteúdodoArquivo"]}}}},"actions":{"Criar_arquivo":{"runAfter":{},"metadata":{"operationMetadataId":"3cfe5f46-0642-4b9d-bdbe-029cabef0081"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/PowerApps/","name":"Reembolso.csv","body":"@triggerBody()['Criararquivo_ConteúdodoArquivo']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Criar_link_de_compartilhamento":{"runAfter":{"Criar_arquivo":["Succeeded"]},"metadata":{"operationMetadataId":"f980ede2-1534-44dd-a24c-295a7255d56e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateShareLinkV2"},"parameters":{"id":"@outputs('Criar_arquivo')?['body/Id']","type":"Edit","scope":"Organization"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Responder_a_um_PowerApp_ou_a_um_fluxo":{"runAfter":{"Criar_link_de_compartilhamento":["Succeeded"]},"metadata":{"operationMetadataId":"fe9d0a9a-059c-4038-b840-8942a16a7f00"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"vararquivo":"@outputs('Criar_link_de_compartilhamento')?['body/WebUrl']"},"schema":{"type":"object","properties":{"vararquivo":{"title":"varArquivo","x-ms-dynamically-added":true,"type":"string"}}}}}}},"connectionReferences":{"shared_onedriveforbusiness":{"connectionName":"87ba8b4c32ef459fbeb15c6c2055bb63","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}