Microsoft.Flow/flows/39ad1a08-16aa-4264-8aff-a361ff7a4c67/definition.json
{"name":"e5e32e97-3672-447b-b812-4f8fbf1f0d47","id":"/providers/Microsoft.Flow/flows/e5e32e97-3672-447b-b812-4f8fbf1f0d47","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"ReembAprovacaoCC","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"b17df865-0519-4a6b-97ae-ef0304569b6d","type":"User","tenantId":"57f91348-02a2-460b-ab45-b9c9e4fb7498"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-07-11T18:27:40.9926823Z","connectionKeySavedTimeKey":"2024-07-11T18:27:40.9926823Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"e449d7eb-03e6-483a-881d-7cae0a8b7434"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Inicializarvariável_Valor":{"type":"integer","description":"Introduzir valor inicial","x-ms-powerflows-param-ispartial":false}},"required":["Inicializarvariável_Valor"]}}}},"actions":{"Inicializar_variável":{"runAfter":{},"metadata":{"operationMetadataId":"06720b39-0c2e-4d3d-b0af-db69691207ef"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varID_CDC","type":"integer","value":"@triggerBody()['Inicializarvariável_Valor']"}]}},"Obter_item":{"runAfter":{"Inicializar_variável":["Succeeded"]},"metadata":{"operationMetadataId":"09121f42-f694-4cf8-8d98-838d8c807585"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://mettaautomacao.sharepoint.com/sites/App_reembolso","table":"20e08995-0ed2-4af9-8429-ef41fbd761c0","id":"@variables('varID_CDC')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Aprovado":{"runAfter":{"Obter_item":["Succeeded"]},"metadata":{"operationMetadataId":"732a3eb3-504a-4382-80c2-90070a002a2f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@outputs('Obter_item')?['body/Author/Email']","emailMessage/Subject":"Requisição de reembolso","emailMessage/Body":"<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <title>Retorno do Reembolso de @{outputs('Obter_item')?['body/Reembolso/Value']}</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.6;\n            color: #333333;\n            background-color: #f9f9f9;\n        }\n\n        .container {\n            max-width: 600px;\n            margin: 20px auto;\n            border: 1px solid #CCCCCC;\n            padding: 20px;\n            border-radius: 8px;\n            background-color: #ffffff;\n            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);\n        }\n\n        h1 {\n            color: #007BFF;\n            text-align: center;\n            margin-bottom: 20px;\n        }\n\n        .warning {\n            padding: 10px;\n            margin-bottom: 20px;\n            border: 1px solid #ffcc00;\n            border-radius: 4px;\n            background-color: #fff3cd;\n            color: #856404;\n            font-weight: bold;\n            text-align: center;\n        }\n\n        ul {\n            padding: 0;\n            margin: 0;\n            list-style-type: none;\n        }\n\n        li {\n            margin-bottom: 10px;\n        }\n\n        strong {\n            font-weight: bold;\n        }\n\n        .highlight {\n            font-size: 1.2em;\n            color: #d9534f;\n            font-weight: bold;\n            background-color: #f2dede;\n            border: 1px solid #ebccd1;\n            padding: 10px;\n            border-radius: 4px;\n            text-align: center;\n        }\n\n        p {\n            margin: 10px 0;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <h1>Aviso de Requisição de Reembolso</h1>\n        <div class=\"warning\">\n            <p>Sua requisição de @{outputs('Obter_item')?['body/Reembolso/Value']} está no @{outputs('Obter_item')?['body/Status/Value']}</p>\n        </div>\n        <p>Olá, @{outputs('Obter_item')?['body/Author/DisplayName']}</p>\n        <p>Aqui estão alguns detalhes:</p>\n        <ul>\n            <li><strong>ID: </strong>@{outputs('Obter_item')?['body/ID']}</li>\n            <li><strong>Status: </strong>@{outputs('Obter_item')?['body/Status/Value']}</li>   \n            <li><strong>Aprovador: </strong>@{outputs('Obter_item')?['body/Aprovador']}</li>\n            <li><strong>Centro de Custo: </strong>@{outputs('Obter_item')?['body/Custo']}</li>\n            <li><strong>Projeto: </strong>@{outputs('Obter_item')?['body/Projeto']}</li>\n            <li class=\"highlight\"><strong>Valor total: </strong>@{outputs('Obter_item')?['body/ValorTotal']}</li>\n        </ul>\n        <p>Por favor, verifique o aplicativo para mais informações.</p>\n    </div>\n</body>\n</html>","emailMessage/Importance":"Normal"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"4cc07f536fa94c38bac0d707a0aef0ec","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_office365":{"connectionName":"ff663479d67945c8947525626e17c3d7","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}